.main-header{
  min-height: 70px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 24px;
  font-size: 18px;
  font-weight: bold;
}
.main-container{
  margin: 24px;
  padding: 12px 20px;
  background-color: #fff;
  flex: 1;
  &-action{
    margin-bottom: 10px;
    >.ant-select{
      margin-right: 10px;
    }
    >button{
      float: right;
    }
  }
}